#product-img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.count-btn {
  padding: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.count-btn:hover {
  background-color: #db4444;
  color: white;
}

.counter {
  padding: 1rem 2rem;
}

.benefit-box {
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
