* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.gap-1 {
  gap: 1rem;
}

.red {
  color: red;
}

.contain-btn {
  padding: 1rem 3rem;
  background-color: red;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.contain-btn:hover {
  background-color: darkred;
}

.outline-btn {
  padding: 0.5rem 2rem;
  background-color: white;
  border: 1px solid red;
  border-radius: 8px;
  color: red;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.outline-btn:hover {
  background-color: red;
  color: white;
}

.secondary-btn {
  padding: 1rem 3rem;
  background-color: lightgray;
  border: none;
  border-radius: 8px;
  color: red;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.secondary-btn-small-padding {
  padding: 1rem !important;
}

.secondary-btn:hover {
  background-color: red;
  color: white;
}

.navbar {
  width: 100vw;
  padding: 1rem 4rem;
  border-bottom: 0.5px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.navbar-left-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.navbar-right-menu {
  display: flex;
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 24px;
}

.navbar-menu-container {
  display: flex;
  gap: 1rem;
  font-weight: 300;
}

.navbar-menu-container > a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.navbar-menu-container > a:hover {
  color: red;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 4rem;
}

.section-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: start;
  justify-content: left;
}

.section-title-content {
  font-size: 32px;
}

.red-box {
  height: 16px;
  width: 16px;
  background-color: red;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
}

.product-price {
  background-color: white;
  padding: 2px 8px;
  border-radius: 16px;
  color: red;
  text-align: center;
}

.product-rating {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.product-catalog-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1rem;
  row-gap: 4rem;
}

.product-item {
  padding: 1rem;
  width: 250px;
  height: 380px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  box-sizing: content-box;
}

.product-item:hover {
  box-shadow: 5px 5px 10px gray;
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 16px;
}

.product-item > h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.product-item > .product-rating {
  margin-top: 16px;
}

.footer {
  display: flex;
  width: 100vw;
  padding: 4rem 4rem;
  background-color: black;
  color: white;
  justify-content: space-around;
}
